  <link rel="stylesheet" href="../../../../css/main.css">




<h1><a href="/admin/game/update/{{game._id}}" rel="nofollow noreferer"><button type="button" style="margin-bottom: 5px;" class="btn btn-success"><i class="bi bi-arrow-left-circle-fill"></i></button></a> Güncəlləmədə Dəyişiklik Et - <span class="text-info">{{upgrade.title}}</span></h1>
<form action="/admin/game/upgrade/edit/{{game._id}}/{{upgrade._id}}" method="post" enctype="application/x-www-form-urlencoded">
 <div class="row">
  <div class="col-12">
        <label for="title" class="col col-form-label text-info fw-bold">Ad:</label>
    <input class="form-control" id="title" value="{{upgrade.title}}" name="title" type="text" placeholder="Güncəlləmə adını daxil edin(UPDATE 1, UPDATE 2,YAMA 1, YAMA 2 və s.)" aria-label="title">

  </div>
  <div class="col-12">
            <label for="link" class="fw-bold text-info col-form-label">Link:</label>
    <input class="form-control" id="link" name="link"  value="{{upgrade.link}}" type="text" placeholder="Güncəlləmənin yükləmə linkinin daxil edin" aria-label="link">

  </div>

    <div class="col-12">
        <label for="summary" class="col col-form-label text-info fw-bold">Açıqlama:</label>

      <textarea placeholder="Qısa izah" class="form-control" name="summary" id="summary" rows="7">{{upgrade.summary}}</textarea>
  </div>


<div class="col-12">
 <div class="position-relative">

  <button type="submit" class="btn btn-success text-white btn-lg fw-bold lower">Dəyişiklik Et</button>
</div>
 
</div>
 


 </div>

 
 

 


</form>



<style>
  .lower{
    margin-top: 15px;
  }
</style>
















